.calculator {
  font-size: 3em;
}
table{
  border-collapse:collapse;
}
td,th{
  text-align: center;
  border:1px solid RGB(131,131,131);
  font-size: 18px;
  font-family: 'Josefin Slab', serif;
  padding: 16px;
  width: 28px;
}
th{
  background-color: RGB(120,41,65);
  color:white;
  font-weight: 100;
}
td{
  background-color: RGB(220,220,220);
}
.right{
  color:white;
  background-color: RGB(246,135,44);
}
.left{
  text-align: left;
}
.top{
  background-color: RGB(208,208,208);
}