.container{
  /*display:inline-grid;*/
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(6,1fr);
  width: 232px;
  height: 320px;
}
.header{
  grid-column-start: 1;
  grid-column-end: 5;
  height: 78px;
}
.footer{
  grid-column-start: 1;
  grid-column-end: 3;
}